body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #333;
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
}

.horario {
    font-weight: normal;
    color: #246;
}

.navbar {
    /* border: 3px solid #333; */
}

.navbar__list {
    /* border: 4px solid orangered; */
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    
}

.navbar__item {
    /* border: 4px solid blue; */
    flex-grow: 1;
}

.navbar__link {
    /* border: 4px solid orchid; */
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 7px;
    background-color: #234;
    color: #f1f1f1;
}

.navbar__link:hover {
    background-color: #123;
    color: #f1f1f1;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #f1f1f1;
}

@media screen and (min-width: 768px) {
    .navbar__list {
        flex-direction: row;
    }

}