body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #333;
    background-color: #f2f2f2;
}

.horario {
    font-weight: normal;
    color: #246;
}

.navbar {
    border: 3px solid #333;
}

.navbar__list {
    border: 4px solid orangered;
}

.navbar__item {
    border: 4px solid blue;
}

.navbar__link {
    border: 4px solid orchid;
}

