body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #222;
    color: #f2f2f2;
}

a {
    color: rgb(152, 152, 238);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
