body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #222;
    color: #f2f2f2;
}

a {
    color: rgb(152, 152, 238);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.navbar {
    background-color: yellow;
    padding: 20px;
    color: red;
}

.navbar__list {
    background-color: orange;
    padding: 20px;
    list-style-type: none;
}

.navbar__item {
    background-color: #444;
    padding: 20px;
    margin-bottom: 10px;
}

.navbar__link {
    background-color: #222;
    padding: 5px;
}

